{% extends 'base.html.twig' %}

{% block subtitle %}Editer l'utilisateur {{user.id}}
{% endblock %}

{% block body %}
	<h1 class="h1-white">Editer l'utilisateur n°{{user.id}}</h1>

	<div class="max-w-2xl mx-auto py-10 px-2 ">

		{{ include('admin/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	</div>

	<div class="flex justify-center items-center my-6 ">
		{{ include('admin/user/_delete_form.html.twig') }}
	</div>


{% endblock %}
