


{% extends 'base.html.twig' %}

{% block subtitle %}Ajouter un auteur{% endblock %}


{% block body %}
    
    <h1 class="h1-white">Créer un auteur</h1>

    <div class="max-w-2xl mx-auto py-10 px-2 ">
    {{ include('admin/author/_form.html.twig') }}
    </div>


    
{% endblock %}