{% extends 'base.html.twig' %}

{% block title %}Edit Favorite{% endblock %}

{% block body %}
    <h1>Edit Favorite</h1>

    {{ include('admin/favorite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_favorite_browse') }}">back to list</a>

    {{ include('admin/favorite/_delete_form.html.twig') }}
{% endblock %}
