

{% extends 'base.html.twig' %}

{% block subtitle %}Editer la recommendation {{recommendation.id}}
{% endblock %}

{% block body %}
	<h1 class="h1-white">Editer la recommendation n°{{recommendation.id}}</h1>

	<div class="max-w-2xl mx-auto py-10 px-2 ">

		{{ include('admin/recommendation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	</div>

	<div class="flex justify-center items-center my-6 ">
		{{ include('admin/recommendation/_delete_form.html.twig') }}
	</div>


{% endblock %}