{% extends 'base.html.twig' %}

{% block title %}New Pinnedpage{% endblock %}

{% block body %}
    <h1>Create new Pinnedpage</h1>

    {{ include('admin/pinnedpage/_form.html.twig') }}

    <a href="{{ path('admin_pinnedpage_browse') }}">back to list</a>
{% endblock %}
