
{% extends 'base.html.twig' %}

{% block subtitle %}Ajouter un livre{% endblock %}


{% block body %}
    
    <h1 class="h1-white">Créer un livre</h1>

    <div class="max-w-2xl mx-auto py-10 px-2 ">
    {{ include('admin/book/_form.html.twig') }}
    </div>


    
{% endblock %}